
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/vcs.xml
android/.DS_Store
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Dart_Packages.xml
.idea/flutter-communicate-native.iml
.dart_tool/version
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/outputs.json
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/kernel_snapshot.stamp
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/kernel_snapshot.d
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/gen_localizations.stamp
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/flutter_assets.d
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/debug_android_application.stamp
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/app.dill
.dart_tool/flutter_build/f026fb096a2633cdc3f1d72534f4066f/.filecache
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/outputs.json
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/kernel_snapshot.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/kernel_snapshot.d
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/gen_localizations.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/flutter_assets.d
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/debug_unpack_ios.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/debug_universal_framework.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/App.framework/App
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/app.dill
.dart_tool/flutter_build/caff1a1d764a12d930faba40abc4707c/.filecache
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/outputs.json
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/kernel_snapshot.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/kernel_snapshot.d
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/gen_localizations.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/flutter_assets.d
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/debug_unpack_ios.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/debug_universal_framework.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/App.framework/App
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/app.dill
.dart_tool/flutter_build/715f56d55dba8027e0c69d309baf29e2/.filecache
.dart_tool/dartpad/web_plugin_registrant.dart
.idea/workspace.xml
.idea/flutter-communicate-native.iml
